.special-elite-regular {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Body and text settings */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #1a1a1a;
    color: #f0f0f0;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

/* Header and navigation */
header {
    background-color: #333;
    padding: 1em 0;
}

.special-elite-regular {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
}

.header-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-top h1 {
    color: #fff;
    margin-bottom: 0.5em;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bottom .slogan {
    color: #fff;
    margin: 0;
    font-size: 1.2em;
}

header nav ul {
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 1em;
}

header nav ul li a {
    color: #f0f0f0;
    text-transform: uppercase;
}

/* Main content sections */
.intro {
    padding: 2em 0;
    text-align: center;
}

.intro h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.projects, .blog {
    padding: 2em 0;
}

.projects .project, .blog article {
    background-color: #282828;
    margin: 1em 0;
    padding: 1em;
    border-radius: 5px;
}

.projects .project img {
    max-width: 100%;
    border-radius: 5px;
}

.projects .project h3, .blog article h3 {
    color: #fff;
    margin-bottom: 0.5em;
}

.projects .project p, .blog article p {
    color: #ccc;
}

.blog article a {
    color: #ff4500;
}

/* Footer */
footer {
    background-color: #333;
    text-align: center;
    padding: 1em 0;
}

footer p {
    color: #f0f0f0;
}