<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>
  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Special+Elite&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body class="home">
    <header>
      <div class="container">
        <!--
        <div class="header-top">
          <h1 class="special-elite-regular">Sewing and Shit</h1>
        </div>
      -->
        <div class="header-bottom">
          <!--<p class="slogan">Cosplay. Chaos. Craft.</p>-->
          <div class="header-top">Sewing and Shit</div>
          <nav>
            <ul>
              <li><a href="{{ '/' | relative_url }}">Home</a></li>
              <li><a href="{{ '/about/' | relative_url }}">About</a></li>
              <li><a href="{{ '/projects/' | relative_url }}">Projects</a></li>
              <li><a href="{{ '/blog/' | relative_url }}">Blog</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <main>
      {{ content }}
    </main>
    <footer>
      <div class="container">
        <p>&copy; 2025 Sewing and Shit</p>
      </div>
    </footer>
</body>
</html>
